.Home {
  position: absolute;
  width: 100%; 
  object-fit: cover;
  height: 100%;
  margin: 0 auto; 
  overflow-x: hidden;
}
.home{
  font-size: 150px;
  position: relative;
  left: 800px;
  color: black;
  top:10px;
  display: inline-block;
  cursor: pointer;  
}
.booktickets{
  color: black;
  font-size: 15px;
  position: relative;
  left: 850px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.terminals{
  color: black;
  font-size: 15px;
  position: relative;
  left: 900px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.faredetails{
  color: black;
  font-size: 15px;
  position: relative;
  left: 950px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.logo{
  position: absolute;
  width: 130px;
  height: 130px;
  left: 20px;
  top: -26px;
}
.login{
  color: black;
  font-size: 15px;
  position: relative;
  left: 1000px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.rectangle {
  position: relative;
  width: 180px;
  height: 100px;
  margin-left: auto; 
  margin-right: auto;
  top: 80px;
  background: #137BC7;
  
}
.homepagee{
  position: relative;
  top:120px;
  width:750px;
}
.metro{
  position:relative;
  left:30px;
  color:#585458b7;
  font:inherit;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-shadow: #0d0f0f;

}
.heading{
  position:relative;
  left:30px;
  color:#44C0AA;
  font:inherit;
  font-family: 'Lato', sans-serif;
  top:-20px;
  width:550px;
  font-size: 1.675rem;
  font-weight: 700;
  line-height: 2.25rem;

  
}

.descri{
  position: relative;
  top:-30px;
  left:30px;
  width:650px;
  font-size: 18px;
  line-height: 30px;
}

.boat{
  position:absolute;
  width:800px;
  height:100px;
  top:230px;
  left:100px;
  text-shadow: #0d0f0f;
  color:#1289c0;
  font-size: 28px;background: linear-gradient(180deg, #0660b4, #15bb97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.route{
  position:absolute;
  width:100px;
  height:100px;
  top:230px;
  left:250px;
  text-shadow: #0d0f0f;
  color:#1289c0;
  font-size: 28px;
  background: linear-gradient(140deg, #065cad, #15bbb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kms{
  position:absolute;
  width:160px;
  height:100px;
  top:230px;
  left:400px;
  text-shadow: #0d0f0f;
  color:#1289c0;
  font-size: 28px;
  background: linear-gradient(140deg, #04539d, #15bbb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.slide-container {
  position: relative;
  width: 48%;
  height:440px;
  left:750px;
  float:center;
  margin-top: -155px;
  border-radius: 20px;
}

.slide-container .each-slide {
  display: flex;
  align-items: right;
  justify-content: right;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.wave-animation {
  position: absolute;
  top: 670px;
  left: 0;
  width: 1540px;
  height: 53px;
  overflow: hidden;
}

.wave-animation path {
  fill: #2577cf81;
  animation: waveFlow 3s linear infinite;
}

@keyframes waveFlow {
  0% {
    transform: translateX(-35px);
  }
  50% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(-35px);
  }
}

.wave-animation2 {
  position: absolute;
  top: 670px;
  left: 0;
  width: 1540px;
  height: 53px;
  overflow: hidden;
}

.wave-animation2 path {
  fill: #2e7ed378;
  animation: waveFlow2 8s linear infinite;
}

@keyframes waveFlow2 {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(40px);
  }
}
.wave-animation3 {
  position: absolute;
  top: 670px;
  left: 0;
  width: 1540px;
  height: 53px;
  overflow: hidden;
}

.wave-animation3 path {
  fill: #2e7ed37a;
  animation: waveFlow2 5s linear infinite;
}

@keyframes waveFlow2 {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(40px);
  }
}

.welcome-message{
  position:absolute;
  width:200px;
  right:10px;
  top:100px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.aboutus{
  position: relative;
  top:45px;
  left:100px;
  width:900px;
}
.headin{
  position: relative;
  left:30px;
  font-weight: 600;
  color:#1289c0;
  font-size: 38px;
  background: linear-gradient(180deg, #0660b4, #15bbb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.details{
  position: absolute;
  width:800px;
  left:30px;
  font-size: 16px;
  top:60px;
}
.details1{
  position: absolute;
  width:700px;
  left:650px;
  top:390px;
  font-size: 16px;
}
.imginside{
  position: absolute;
  left:850px;
  top:80px;
  width:500px;
  height:250px;
}
.corpit{
   position: relative;
   left:40px;
   top:250px;
   width:600px;
   height:390px;
}
.waterways{
  position: relative;
  top:740px;
  left:440px;
  font-size: 23px;
  color: #065cad;
}
.line{
  position: relative;
  background-color: #15bbb0;
  width:142%;
  height:3px;
  top:340px;
  left:30px;
}
.routesdetails{
  position: absolute;
  top:890px;
  left:30px;
  width:1300px;
}
.mapp{
  position: absolute;
  top:1120px;
  width:900px;
  height:500px;
  left:200px;
  overflow: hidden;
  object-fit: cover;
}
.downbar{
  position: relative;
  width:134%;
  height:50px;
  background-color:#065cad;
  top:1108px;
  left:-100px;
}

