.kakkanadm{
    position: absolute;
    height: 600px;
    width: 400px;
    left:820px;
    top:277px;
}
.vyttilam{
    position: absolute;
    height: 600px;
    width: 400px;
    left:820px;
    top:317px;
}
.hcourtm{
    position: absolute;
    height: 600px;
    width: 400px;
    left:820px;
    top:317px;
}
.vypinm{
    position: absolute;
    height: 600px;
    width: 400px;
    left:820px;
    top:317px;
}